{% extends 'base.html.twig' %}

{% block title %}Prueba técnica Finizens{% endblock %}
{% block stylesheets %}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="/assets/css/main.css" rel="stylesheet">
{% endblock %}
{% block body %}
{% if data is not empty %}
    <table>
    {% for from, value in data %}
        <tr><td colspan="5"><h1>Historial de {{from}}</h1></td></tr>
        <tr><td><h3>Contactos</h3></td><td><h3>Comunicaciones</h3></td></tr>
        {% for to, contact in value %}
        <tr class="row">
            <td valign="top">
                <table class="contacto">
                    <tr>
                        <td valign="middle"><i class="material-icons contact">contact_phone</i></td>
                        <td><b>{{contact.c_name}}</b><br>{{to}}</td>
                    </tr>
                </table>
            </td>
            <td valign="top" class="comunications">
                <table width="350">
                    {% if contact.llamadas is defined and contact.llamadas is not empty %}
                        <tr>
                            <th colspan="2">Llamadas</th>
                            <th style="width:80px">Fecha</th><th>Hora</th><th>Duración</th></tr>
                        {% for llamada in contact.llamadas %}
                            <tr>
                                <td valign="middle" style="width:24px;">
                                    {% if llamada.kind == 'Entrante' %}
                                        <i class="material-icons red">call_received</i>
                                    {% elseif llamada.kind == 'Saliente' %}
                                        <i class="material-icons green">call_made</i>
                                    {% endif %}
                                </td>
                                <td style="width:67px;">{{llamada.kind}}</td>
                                <td style="width:90px;">{{llamada.date}}</td>
                                <td>{{llamada.time}}</td>
                                <td>{{llamada.duration|date('H:i:s', '+00:00 GMT') }}</td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                    {% if contact.mensajes is defined and contact.mensajes is not empty %}
                        <tr><th colspan="2" style="text-align:left;">Mensajes</th><th>Fecha</th><th colspan="2">Hora</th></tr>
                        {% for mensaje in contact.mensajes %}
                            <tr>
                                <td valign="middle" style="width:24px;">
                                    {% if mensaje.kind == 'Entrante' %}
                                        <i class="material-icons red">message</i>
                                    {% elseif mensaje.kind == 'Saliente' %}
                                        <i class="material-icons green">message</i>
                                    {% endif %}
                                </td>
                                <td style="width:67px;">{{mensaje.kind}}</td>
                                <td style="width:90px;">{{mensaje.date}}</td>
                                <td>{{mensaje.time}}</td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                </table>
            </td>
        </tr>
        {% endfor %}
    {% endfor %}
    </table>
{% endif %}
{% endblock %}
